---
import type { CollectionEntry } from 'astro:content';
import { withBase } from '@utils/base-path';

interface Props {
  posts: CollectionEntry<'blog'>[];
}

const { posts } = Astro.props;
---

{posts.length > 0 && (
  <section class="related-posts reveal" aria-label="Related posts">
    <div class="related-posts__header">
      <p class="related-posts__eyebrow">Continue Reading</p>
      <h2 class="related-posts__title">Related essays</h2>
    </div>

    <div class="related-posts__grid">
      {posts.map((post) => (
        <article class="related-posts__card">
          <p class="related-posts__tags">{post.data.tags.slice(0, 2).join(' / ')}</p>
          <a class="related-posts__link" href={withBase(`/blog/${post.id}`)}>
            {post.data.title}
          </a>
          <p class="related-posts__description">{post.data.description}</p>
        </article>
      ))}
    </div>
  </section>
)}
